
{% extends "SEEapp/index.html" %}

		{% block content %}
			
		
			
			<!-- page-content -->
			<div class="page-content">
				
				<!-- entry-content -->	
	        	<div class="entry-content cf">
	        		
	        		
	        		<p><i>SEE began in April 2014 with a grant from General Motors, a small group of engineering students, and a passion for social change</i>.</p>

	        		<p>The SEE team consists of undergraduate students at UC Berkeley--spanning all disciplines of engineering--who are each committed to closing the current “gap” between social issues and the STEM field. We hold the firm belief that doing technical research and jobs does not exempt engineers from the responsibility of communicating and working directly with the people we are affecting.</p>

	        		<p>Our overall mission is to help engineers of all levels understand that their actions are not removed from, but rather intrinsically tied to society, and in doing so, encourage them to analyze how social, political, and professional forces influence the effectiveness of their projects. In the long run, the vision of SEE is an environment where engineers are constantly mindful of and held accountable for the impact that their decisions have on the world around them, then incorporating that knowledge to make their projects more socially sustainable.</p>

	        		<p>We are the undergraduate version of the Development Engineering Graduate Emphasis. We provide undergraduates with stories, resources, and opportunities, to help them be engaged in the “engineering and development” field. Right now, the best way we can do accomplish our goals is by first building a stable foundation, using the most important resource we have: professors and researchers, alumni, entrepreneurs, and community leaders who have experienced and understand the significance of social awareness in the technical atmosphere.</p>

					<div class="cf"></div>
					<!-- ENDS 4 cols -->
										
				</div>

			</div><!-- ENDS page-content -->
			
		

		{% endblock %}
		

