
{% extends "SEEapp/index.html" %}	
		
{% block content %}
<!-- MAIN -->
<div role="main" id="main" class="cf">
	<p class="q">I want to get interviewed for SEE</p>
	<p class="a">We would love to hear your story and share it with our followers. Please send an email to one of our team members and we will schedule a meeting with you as soon as possible.</p>
	<p class="q">I want to work or intern with SEE</p>
	<p class="a">Best way of learning is through experience! If you want to learn or explore the field of “engineer for development and sustainable living”, be a part of SEE. We are looking for talented and motivated individuals to join out team. We’d like you to fill out this form, so that we can connect you with the opportunities that best fit your interests: http://goo.gl/0hAHGJ </p>
	<p class="q">I want to join the SEE community but not work or intern</p>
	<p class="a">We are glad you want to join our community! We’d like to know about your interests so that we can update you with related SEE activities and events. Just fill out this form: http://goo.gl/0hAHGJ</p>
	<p class="q">I want to talk to the founders and the ambassadors</p>
	<p class="a">They want to talk you too. Just visit The Team page and send them an email!</p>
	<p class="q">I want to start a chapter in my city</p>
	<p class="a">Engineers have a collective responsibility to improve lives of people around the world. A chapter will start a meet-up of engineers passionate about social change and  global development. Eventually, it can evolve into more complex organization with mentors and other team members, but meet-ups will be the first step. Anyone can start a chapter and begin holding meet-ups in their university. After four months, you will be asked to participate in a formal application process. </p>

	
</div>
<!-- ENDS MAIN -->

{% endblock %}