<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!-- Consider adding a manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!--> 
{% load staticfiles %}
<html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
		
	<title>Socially Engaged Engineers</title>
	<meta name="description" content="">
	
	<!-- Mobile viewport optimized: h5bp.com/viewport -->
	<meta name="viewport" content="width=device-width">
	
	
	<link rel="stylesheet" media="screen" href='{% static "css/superfish.css" %}' /> 
	<link rel="stylesheet" href='{% static "css/nivo-slider.css" media="all" %}' /> 
	<link rel="stylesheet" href='{% static "css/tweet.css" media="all"  %}'/>
	<link rel="stylesheet" href='{% static "css/style.css" %}'>
	<link rel="stylesheet" media="all" href='{% static "css/lessframework.css" %}'/>
	
	
	<!-- All JavaScript at the bottom, except this Modernizr build.
	   Modernizr enables HTML5 elements & feature detects for optimal performance.
	   Create your own custom Modernizr build: www.modernizr.com/download/ -->
	<script src='{% static "js/modernizr-2.5.3.min.js" %}' ></script>
</head>
<body>
	
	<!-- WRAPPER -->
	<div class="wrapper cf">
	
	
		<header class="cf">
			
			<!-- social-bar -->
			<div id="social-bar-holder">
				<ul id="social-bar" class="cf">
					
					<li class="facebook"><a href="https://www.facebook.com/sociallyengagedengineers"  title="Facebook" ></a></li>
					<li class="youtube"><a href="https://www.youtube.com/"  title="YouTube" ></a></li>
					<li class="twitter"><a href="https://twitter.com/SEEngineering"  title="Twitter" ></a></li>
				</ul>
			</div>
			<div class="cf"></div>
			<!-- ENDS social-bar -->
			
			<div id="logo" class="cf">
				<a href="/" ><img src='{% static "img/logo.png" alt="" %}'/></a>
			</div>
			
			<!-- nav -->
			<nav class="cf">
				<ul id="nav" class="sf-menu">
					<li class="current-menu-item"><a href="/"><span>HOME</span></a></li>
					<li><a href="/aboutus"><span>ABOUT US</span></a></li>
					<li><a href="/videos"><span>VIDEOS</span></a></li>
					<li><a href="/getinvolved"><span>GET INVOLVED!</span></a></li>
					<li><a href="/team"><span>TEAM</span></a>
						
						<!--
						<ul>
							<li><a href="page.html">Ankita Joshi</a></li>
							<li><a href="page-typography.html">Alison Long</a></li>
							<li><a href="/team">Joel Jacobs</a></li>
							<li><a href="page-sidebar.html">Anuja Godbole</a></li>
							<li><a href="page-sidebar.html">Alyssa Yu</a></li>
						</ul>
						-->
					</li>
						
				</ul>
				<div id="combo-holder"></div>
			</nav>
			<!-- ends nav -->
			
		</header>
		
		
		<!-- MAIN -->
		<div role="main" id="main" class="cf">
		
		
		
			<!-- SLIDER -->
			<div class="slider-wrapper theme-halftone">
	            <div id="slider" class="nivoSlider">
	                <img src='{% static "img/see_imgs/see_banner.png" %}' alt=""  />
	                <img src='{% static "img/see_imgs/banner1.png" %}' alt="" />
	                <img src='{% static "img/see_imgs/banner2.png" %}' alt="" />
	            </div>
	            <div class="slider-left"></div>
	            <div class="slider-right"></div>
	        </div>
			<!-- ENDS SLIDER -->
			
			
			<!-- headline -->
			<div class="headline">Engineering Through a Different Lens</div>
			<!-- ENDS headline -->
			
  			
			<!-- featured -->

			<div class="main_video" align="center">
		    <video id="vid1" width="600" height="400" controls>
		    <source src="movie.mp4" type="video/mp4">
		    <source src="movie.ogg" type="video/ogg">
		    Your browser does not support the video tag.
		    </video>
		  </div>

			<!-- ENDS featured -->
			
		</div>
		<!-- ENDS MAIN -->
		
		<footer>
		
			<!-- widgets -->
			<ul  class="widget-cols cf">

				
				<li class="third-col">
					
					<div class="widget-block">
						<h4>Contact Us!</h4>
						<p>To recieve more information about the organization, or if you have any questions, please input your information in the contact form. Thank you!</p>
		     		</div>
		     		
			</ul>
			<!-- ENDS widgets -->
			
			<!-- bottom -->
			<div id="bottom">
				<div id="widget-trigger-holder"><a id="widget-trigger" href="#" title="View More" class="poshytip"></a></div>
				<div id="content">Contact Us! </a> </div>
			</div>
			<!-- ENDS bottom -->
			
		</footer>
		
		
	</div>
	<!-- ENDS WRAPPER -->
	
	<!-- JavaScript at the bottom for fast page loading -->
	
	
	<!-- scripts concatenated and minified via build script -->
	<script src='{% static "js/jquery-1.7.1.min.js" %}'></script>
	<script src='{% static "js/custom.js" %}'></script>
	
	<!-- superfish -->
	<script  src='{% static "js/superfish-1.4.8/js/hoverIntent.js" %}'></script>
	<script  src='{% static "js/superfish-1.4.8/js/superfish.js" %}'></script>
	<script  src='{% static "js/superfish-1.4.8/js/supersubs.js" %}'></script>
	<!-- ENDS superfish -->
	
	<script src='{% static "js/jquery.nivo.slider.js" %}'></script>
	<script src='{% static "js/css3-mediaqueries.js" %}'> </script>
	<script src='{% static "js/tabs.js" %}'> </script>
	<script  src='{% static "js/poshytip-1.1/src/jquery.poshytip.min.js" %}'></script>
	<!-- end scripts -->

</body>
</html>