	{% extends "SEEapp/index.html" %}

		{% block content %}			
			<!-- posts list -->
			<div id="posts-list" class="cf"> 
			
				<article class="cf">
					<div class="feature-image">
						<a href="single.html" ><img src="img/dummies/672x400a.jpg" alt="Thumbnail" /></a>
					</div>
					<div class="entry-left-data">
						<div class="entry-date"><span class="m">JAN</span><span class="d">23</span></div>
						<a href="single.html#comments" class="comments">161</a>
					</div>
					
					<div class="entry-right-data">
						<a href="single.html" class="post-heading" >Video 1</a>
						<div class="meta">
							
							<span class="tags"><a href="#">red</a>, <a href="#">cyan</a>, <a href="#">white</a>, <a href="#">blue</a></span>
							</div>
						<div class="excerpt">
							description here
						</div>	
						<a href="single.html" class="link-button">Read More</a>	
					</div>
				</article>
				
				<article class="cf">
					<div class="feature-image">
						<a href="single.html" ><img src="img/dummies/672x400b.jpg" alt="Thumbnail" /></a>
					</div>
					<div class="entry-left-data">
						<div class="entry-date"><span class="m">JAN</span><span class="d">23</span></div>
						<a href="single.html#comments" class="comments">161</a>
					</div>
					
					<div class="entry-right-data">
						<a href="single.html" class="post-heading" >video 2</a>
						<div class="meta">
							
							<span class="tags"><a href="#">red</a>, <a href="#">cyan</a>, <a href="#">white</a>, <a href="#">blue</a></span>
							</div>
						<div class="excerpt">
							description
						</div>	
						<a href="single.html" class="link-button">Read More</a>	
					</div>
				</article>
				
				<article class="cf">
					<div class="feature-image">
						<a href="single.html" ><img src="img/dummies/672x400c.jpg" alt="Thumbnail" /></a>
					</div>
					<div class="entry-left-data">
						<div class="entry-date"><span class="m">JAN</span><span class="d">23</span></div>
						<a href="single.html#comments" class="comments">161</a>
					</div>
					
					<div class="entry-right-data">
						<a href="single.html" class="post-heading" >video 3</a>
						<div class="meta">
							
							<span class="tags"><a href="#">red</a>, <a href="#">cyan</a>, <a href="#">white</a>, <a href="#">blue</a></span>
							</div>
						<div class="excerpt">
							description here
						</div>	
						<a href="single.html" class="link-button">Read More</a>	
					</div>
				</article>
				
				
				<!-- page-navigation -->
				<div class="page-navigation cf">
					<div class="nav-next"><a href="#">Older Entries</a></div>
					<div class="nav-previous"><a href="#">Newer Entries</a></div>
				</div>
				<!--ENDS page-navigation -->
					
						
		    </div>
			<!-- ENDS posts list -->			
			
			
			
		</div>
		<!-- ENDS MAIN -->

		{% endblock %}